/* Header */
.logo {
    background-color: #e5e5e5;
    text-align: center;
    margin: 0;
}
h1 {
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #005677;
    background-color: #c0c0c0;
}
h2 {
    text-align: left;
    margin-left: 0px;
    background-color: #c0c0c0;
    text-transform: uppercase;
    color: #005677;
}
  /* Main */
.section {
    margin: 0 auto;
    width: 90%;
    height: auto;
}
.span1 {
    font-style: italic;
    font-weight: 900;
}
dt {
    font-weight: 900;
}
footer {
    text-align: center;
    background-color: #005677;
    color: #e5e5e5;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}
.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
section {
    display: block;
}
